.btn {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  padding: 1rem 1.5rem;
  border: 1px solid #fff;
  background-color: transparent;
  color: white;
  font-weight: lighter;
  border-radius: 30px;
  margin: 1rem 0;
  outline: none;
}
.solid {
  border: 1px solid #333;
  font-size: 1rem;
  color: black;
}
